- if !tickets.nil? && tickets.any?
  .panel.panel-default
    .panel-heading 
      %h5 
        = scope
    %table.table.table-hover.tickets-table
      %tbody
        - tickets.each do |item|
          %tr
            %td
              %small= item.name
            %td
              %small= item.title
            %td.actions= link_to 'Show', item, class: 'btn btn-xs btn-info'
            - if item.user.nil?
              %td.actions= button_to "Assign", update_ticket_status_path(item.slug, 2), method: :patch, class: 'btn btn-xs btn-success'
            - else
              %td.actions= button_to "Unassign", update_ticket_status_path(item.slug, 1), method: :patch, class: 'btn btn-xs btn-warning'
