- if !tickets.nil? && tickets.any?
  .panel.panel-default
    .panel-heading 
      %h5 
        = scope
    %table.table.table-hover.tickets-table
      %tbody
        - tickets.each do |element|
          %tr
            %td
              %small= element.name
            %td
              %small= element.title
            %td= link_to 'Show', element, class: 'btn btn-xs btn-info'
            %td= button_to "Assign", update_ticket_status_path(element.id, 2), method: :patch, class: 'btn btn-xs btn-success'