!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initia-scale=1.0, user-scalable=1, minimum-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    %meta(name="theme-color" content="#e7e7e7")
    %title Workspace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Ticket App
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            = header_link tickets_path, "Tickets"
            = header_link new_ticket_path, "Create Ticket"
          %ul.nav.navbar-nav.navbar-right
            - if current_user.nil?
              = header_link new_user_registration_path, "Sign Up"
              = header_link new_user_session_path, "Sign In"
            - else
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = current_user && current_user.email
                  %span.caret
                %ul.dropdown-menu
                  = header_link tickets_path, 'Tickets'
                  = header_link "#", 'My Ticket'
                  = header_link "#", 'My Comments'
                  %li.divider{:role => "separator"}
                  = header_link edit_user_registration_path, 'Profile Settings'
                  %li
                    = link_to "Sign Out", destroy_user_session_path, method: :delete
    .container
      = yield